<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <p>page FORM</p>
    </div>
    <nav>
        <li>
            <h1>Меню</h1>
        </li>
        <li>
            <a href="contact.html">перейти к контактам</a>
        </li>
        <li>
            <a href="index.html">перейти на главную страницу</a>
        </li>
        
    </nav>
    <div>
        <form>
            <h1>Отправка запрос на hh</h1>
            <input type="text" placeholder="введите запрос"/>
            <input type="submit"/>
        </form>
        <div>
            
        </div>
        
    </div>
</body>
</html>